* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Monserrat-Regular";
  src: url("../fonts/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url("../fonts/Montserrat-Bold.ttf");
}
html,
body {
  overflow-x: hidden;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: white;
}
.container {
  width: 90%;
  margin: auto;
}
input[type="checkbox"] {
  display: none;
}
body {
  background-color: #efefef;
}
/* section header */
header {
  width: 100%;
  position: relative;
  background-color: #1b1b1b;
}
header .logoHeader svg {
  height: auto;
  width: 75.12px;
}
header .sectionHeader {
  height: auto;
  padding: 1em 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .sectionMenu input[id="MenuIcons"]:checked + nav {
  right: 0;
}
header .sectionMenu nav {
  position: absolute;
  top: 60px;
  right: -100%;
  width: 100%;
  transition: 0.2s all;
  /* background-color: rgba(216, 216, 216, 0.2); */
  background-color: rgba(27, 27, 27, 1);
  z-index: 10;
}
header .sectionMenu nav ul li {
  /* padding: 16px 14px; */
  transition: 0.2s all;
}
header .sectionMenu nav ul li:last-child {
  padding: 16px 14px;
}

header .sectionMenu nav ul li:not(:last-child):hover {
  background-color: rgba(216, 216, 216, 1);
}

header .sectionMenu nav ul li a {
  font-family: "Montserrat-Bold";
  letter-spacing: 0;
  line-height: 18px;
  font-size: 14px;
  font-weight: lighter;
  width: 100%;
  display: block;
  padding: 16px 14px;
}
header .sectionMenu nav ul li:hover a {
  color: black;
}
header .sectionMenu nav ul li:last-child {
  color: white;
  font-family: "Montserrat-Bold";
  letter-spacing: 0;
  line-height: 18px;
  font-size: 14px;
}
header .sectionMenu nav ul li:last-child > span {
  position: relative;
  height: 29px;
  width: 84px;
  border-radius: 4px;
  background-color: rgba(216, 216, 216, 0.2);
  display: flex;
  align-items: center;
  padding-left: 6px;
  cursor: pointer;
}
header .sectionMenu nav ul li:last-child > span > span {
  height: 7px;
  width: 7px;
  display: block;
  border-radius: 2px;
  border: 2px solid #ffffff;
  border-left: 0;
  border-top: 0;
  transform: rotate(45deg);
  margin-left: 10.8px;
}

header .MenuIcons span {
  width: 30px;
  height: 6px;
  border-radius: 10px;
  background-color: rgba(216, 216, 216, 0.5);
  display: block;
  margin: 5px 0;
}
/* section Contact */
#contact {
  margin: 24px auto;
}
#contact .headerTitle {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
#contact .headerTitle svg {
  width: 16px;
  margin-right: 5px;
}
#contact .headerTitle h3 {
  font-family: "Montserrat-Bold";
  font-weight: normal;
  color: #b6b6b6;
  font-size: 14px;
  line-height: 19px;
}
#contact .form {
  background-color: white;
  border-radius: 10px;
  padding: 23px 14px;
}
#contact .form form {
  display: flex;
  flex-direction: column;
}
#contact .form form .input-controll {
  width: 100%;
  margin-bottom: 16px;
}
#contact .form form .input-controll label {
  font-size: 12px;
  font-family: "Montserrat-Bold";
  font-weight: 100;
  color: #b6b6b6;
  line-height: 18px;
  display: block;
  margin-bottom: 7px;
}
#contact .form form .input-controll label span {
  color: #ff0070;
}

#contact .form form .input-controll input,
#contact .form form .input-controll textarea {
  width: 100%;
  background-color: #f8f8f8;
  border: none;
  border-radius: 5px;
  padding: 7px 7px 7px 13px;
  color: #1b1b1b;
  font-family: "Montserrat-Bold";
  font-size: 12px;
  font-weight: 100;
  letter-spacing: 0;
  line-height: 18px;
}
#contact .form form .input-controll input:focus,
#contact .form form .input-controll textarea:focus {
  outline: 2px solid #58dd3a;
}
#contact .form form .input-controll.data textarea {
  resize: none;
}
#contact .form form input[type="submit"] {
  background-color: #58dd3a;
  border: none;
  color: white;
  font-size: 12px;
  font-family: "Montserrat-Bold";
  font-weight: 100;
  line-height: 19px;
  text-align: center;
  border-radius: 6px;
  padding: 9px 24px;
  width: 140px;
  margin: auto;
  cursor: pointer;
  transition: 0.2s all;
  outline: 0px solid #58dd3a;
  display: inline;
}
#contact .form form input[type="submit"]:hover {
  background-color: white;
  color: #58dd3a;
  outline: 1px solid #58dd3a;
}

/* section footer */
footer {
  border-top: 4px solid #58de3a;
  background-color: #1b1b1b;
}
footer .sectionFirst {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-top: 30px;
}
footer .sectionFirst ul li a {
  color: #ffffff;
  font-family: "Monserrat-Regular";
  font-size: 14px;
  letter-spacing: 0;
  line-height: 25px;
  transition: 0.2s all;
}
footer .sectionFirst ul li a:hover {
  color: #58dd3a;
}

footer .sectionFirst .logs {
  margin-top: 20px;
}
footer .sectionFirst .logs img {
  width: 100px;
  height: 100px;
}
footer .sectionSecound {
  background-color: #141414;
  margin-top: 10px;
}
footer .sectionSecound > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  padding: 10px 0;
}

footer .sectionSecound .copyright p {
  color: #ffffff;
  font-family: "Monserrat-Regular";
  font-size: 12px;
  letter-spacing: 0;
  line-height: 15px;
}
footer .sectionSecound .log svg {
  width: 60px;
  height: 20px;
}
@media (min-width: 768px) {
  /* header */
  header .sectionHeader {
    height: 90px;
    align-items: center;
  }
  header .logoHeader svg {
    height: auto;
    width: 170.12px;
  }
  header .sectionMenu nav {
    position: absolute;
    top: 90px;
  }
  /* section contact */
  #contact .headerTitle h3 {
    font-size: 16px;
  }
  #contact .form form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #contact .form form .input-controll {
    width: 48%;
  }
  #contact .form form .input-controll.subject,
  #contact .form form .input-controll.data {
    width: 100%;
  }
  #contact .form form .input-controll label {
    margin-bottom: 11px;
    font-size: 14px;
  }
  #contact .form form .input-controll input,
  #contact .form form .input-controll textarea {
    width: 100%;
    background-color: #f8f8f8;
    border: none;
    border-radius: 5px;
    padding: 10px 10px 10px 13px;
    color: #1b1b1b;
    font-family: "Montserrat-Bold";
    font-size: 14px;
    font-weight: 100;
    letter-spacing: 0;
    line-height: 18px;
  }
  /* section footer */
  footer .sectionFirst {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: left;
  }
  footer .sectionFirst .logs {
    margin-top: 0;
  }
  footer .sectionSecound > div {
    width: 90%;
  }
}
@media (min-width: 1024px) {
  .container {
    width: 1024px;
  }
  /* header nav  */
  header {
    height: 146px;
    display: flex;
    align-items: center;
  }
  header .sectionHeader {
    justify-content: flex-start;
    height: auto;
    padding: 33px 0;
  }
  header .MenuIcons {
    display: none;
  }
  header .sectionMenu {
    margin-left: 41px;
  }
  header .sectionMenu nav {
    position: unset;
    background-color: transparent;
    width: 794px;
  }
  header .sectionMenu nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header .sectionMenu nav ul li {
    padding: 0;
  }
  header .sectionMenu nav ul li {
    position: relative;
  }
  header .sectionMenu nav ul li a {
    padding: 0px;
  }

  header .sectionMenu nav ul li:not(:last-child):hover {
    background-color: transparent;
  }
  header .sectionMenu nav ul li:not(:last-child):hover {
    border-radius: 5px;
  }
  header .sectionMenu nav ul li:not(:last-child):hover a {
    color: white;
  }
  header .sectionMenu nav ul li:not(:last-child) a {
    position: relative;
  }

  header .sectionMenu nav ul li:not(:last-child) a {
    position: relative;
  }
  header .sectionMenu nav ul li:not(:last-child)::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -8px;
    transform: translateX(-50%);
    height: 5px;
    width: 0;
    transition: 0.2s all;
    background-color: #58dd3a;
    border-radius: 10px;
  }
  header .sectionMenu nav ul li:not(:last-child):hover:after {
    width: 32px;
  }
  /* section  contact*/
  #contact {
    margin: 50px auto;
  }
  #contact .headerTitle {
    margin-bottom: 45px;
  }
  #contact .form {
    padding: 39px 40px 23px 39px;
  }
  #contact .form form .input-controll {
    width: 450px;
    border-radius: 6px;
    margin-bottom: 35px;
  }
  #contact .form form .input-controll.data {
    margin-bottom: 21px;
  }

  #contact .form form .input-controll label {
    margin-bottom: 13px;
  }
  #contact .form form .input-controll input,
  #contact .form form .input-controll textarea {
    padding: 15px 13px;
  }
  #contact .form form input[type="submit"] {
    padding: 16px 48px;
    width: auto;
    margin: 0;
    font-size: 16px;
  }
  /* section Footer */
  footer .sectionFirst {
    margin-top: 0;
    align-items: flex-start;
    width: 915px;
    margin: auto;
  }
  footer .sectionFirst .logs {
    margin-top: 55px;
    display: flex;
    align-items: flex-start;
  }
  footer .sectionFirst .logs img:nth-of-type(1) {
    height: 93px;
    width: 73.14px;
    margin-right: 19.9px;
  }
  footer .sectionFirst .logs img:nth-of-type(2) {
    height: 97px;
    width: 145.32px;
  }
  footer .sectionFirst .links {
    margin-top: 30px;
  }
  footer .sectionSecound {
    margin-top: 27px;
  }
  footer .sectionSecound > div {
    width: 915px;
  }
  footer .sectionSecound .log svg {
    height: 37px;
    width: 82.82px;
  }
}
@media (min-width: 1400px) {
  .container {
    width: 1160px;
  }
  /* section Contact */
  #contact .form form .input-controll {
    width: 521px;
  }
}
