* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Monserrat-Regular";
  src: url("../fonts/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url("../fonts/Montserrat-Bold.ttf");
}
a {
  text-decoration: none;
  color: black;
}
.container {
  width: 90%;
  margin: auto;
}
#register {
  display: grid;
  grid-template-columns: 1fr;
}
#register .leftSide {
  background-color: white;
  padding: 15px 16px;
}
#register .leftSide > a img {
  height: auto;
  width: 75.12px;
  margin-bottom: 30px;
}
#register .leftSide h1 {
  font-family: "Montserrat-Bold";
  font-weight: normal;
  font-size: 30px;
  line-height: 37px;
  margin-bottom: 4px;
}
#register .leftSide h1 span {
  color: #58dd3a;
}
#register .leftSide > div > p {
  font-family: "Monserrat-Regular";
  display: block;
  font-weight: 100;
  font-size: 16px;
  line-height: 27px;
  color: #141414;
  margin-bottom: 40px;
}

#register .leftSide > div > p a {
  color: #58dd3a;
  font-family: "Montserrat-Bold";
  font-weight: 100;
}

#register .leftSide > div > p span {
  color: #58dd3a;
  font-family: "Montserrat-Bold";
  font-weight: 100;
}

#register .leftSide .input-controll {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 18px 8px 13px;
  margin-bottom: 16px;
  border-radius: 5px;
  background-color: #f8f8f8;
  cursor: text;
}

#register .leftSide .input-controll svg {
  height: auto;
  width: 20px;
  cursor: pointer;
}
#register .leftSide .input-controll svg .s0 {
  transition: 0.2s all;
}
#register .leftSide .input-controll svg:hover .s0 {
  fill: #58dd3a;
}

#register .leftSide .input-controll .input {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
}

#register .leftSide .input-controll .input input:focus {
  outline: none;
}

#register .leftSide .input-controll .input label {
  font-family: "Montserrat-Bold";
  font-weight: 100;
  font-size: 10px;
  line-height: 15px;
  color: #9a9a9a;
  visibility: hidden;
}

#register .leftSide .input-controll .input input {
  font-size: 12px;
  line-height: 18px;
  font-family: "Montserrat-Bold";
  font-weight: 100;
  color: #141414;
  background-color: transparent;
  border: none;
  z-index: 10;
}
#register .leftSide .input-controll .input input:focus {
  padding: 0;
}

#register .leftSide .input-controll .input > span {
  position: absolute;
  top: 7px;
  font-size: 12px;
  line-height: 18px;
  font-family: "Monserrat-Regular";
  color: #9a9a9a;
  z-index: 2;
}
#register .leftSide .input-controll .input > span > span {
  color: #58dd3a;
}
#register .leftSide .check {
  margin-bottom: 16px;
}
#register .leftSide .check img {
  margin-bottom: 10px;
}
#register .leftSide .check input {
  border: none;
  padding: 10px 13px;
  background-color: #f8f8f8;
  width: 100%;
  font-family: "Montserrat-Bold";
  font-weight: 100;
  font-size: 10px;
  line-height: 18px;
  font-weight: 100;
  color: #141414;
  border-radius: 6px;
}
#register .leftSide .check input:focus {
  outline: none;
}
#register .leftSide .check input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #1b1b1b;
  font-size: 10px;
  font-family: "Monserrat-Regular";
}
#register .leftSide .check input::-moz-placeholder {
  /* Firefox 19+ */
  color: #1b1b1b;
  font-size: 10px;
  font-family: "Monserrat-Regular";
}
#register .leftSide .check input:-ms-input-placeholder {
  /* IE 10+ */
  color: #1b1b1b;
  font-size: 10px;
  font-family: "Monserrat-Regular";
}
#register .leftSide .check input::-moz-placeholder {
  /* Firefox 18- */
  color: #1b1b1b;
  font-size: 10px;
  font-family: "Monserrat-Regular";
}
#register .leftSide form input[type="submit"] {
  border: none;
  background-color: #58dd3a;
  color: white;
  font-size: 13px;
  line-height: 19px;
  font-family: "Montserrat-Bold";
  font-weight: 100;
  padding: 8px 25px;
  border-radius: 6px;
  transition: 0.2s all;
  margin-bottom: 18px;
}
#register .leftSide form input[type="submit"]:hover {
  background-color: white;
  color: #58dd3a;
  outline: 1px solid #58dd3a;
}
#register .leftSide form > a {
  font-family: "Montserrat-Bold";
  font-weight: 100;
  font-size: 12px;
  line-height: 18px;
  color: #58dd3a;
  display: block;
  transition: 0.2s all;
}
#register .leftSide form > a:hover {
  color: #141414;
}

#register .rightSide {
  background-color: #f7f7f7;
}
#register .rightSide .container {
  width: 90%;
  margin: auto;
}
#register .rightSide img {
  width: 100%;
  margin: auto;
  margin: 90px 0;
}

@media (min-width: 768px) {
  .container {
    width: 100%;
  }
  #register {
    grid-template-columns: 1fr 45% 45% 1fr;
    grid-template-areas: ". leftSide rightSide .";
    background-color: #ffffff;
    position: relative;
  }
  #register:before {
    content: "";
    position: absolute;
    width: 50%;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #f7f7f7;
  }

  #register .leftSide {
    padding: 0;
    z-index: 10;
    background-color: white;
    grid-area: leftSide;
  }
  #register .leftSide .container {
    padding: 0 44px 0 20px;
  }
  #register .leftSide > a img {
    width: 170.12px;
    height: auto;
    padding: 1em 0 0 0;
  }
  #register .leftSide form input[type="submit"] {
    padding: 16px 55px;
  }
  #register .rightSide {
    grid-area: rightSide;
    align-self: stretch;

    z-index: 100;
    background-color: transparent;
  }
  #register .rightSide .container {
    display: flex;
    align-items: center;
    height: 100%;
  }
}
@media (min-width: 1024px) {
  .container {
    width: 100%;
  }
  #register {
    grid-template-columns: 1fr 512px 512px 1fr;
    grid-template-areas: ". leftSide rightSide .";
    position: relative;
  }
  #register .leftSide {
    background-color: white;
    padding: 0 0;
  }
  #register .leftSide > a img {
    height: auto;
    padding: 33px 0 0 0;
    margin-bottom: 88px;
  }
  #register .leftSide h1 {
    font-size: 47px;
    line-height: 57px;
    margin-bottom: 9px;
  }
  #register .leftSide > div > p {
    margin-bottom: 99px;
    font-size: 22px;
  }
  #register .leftSide .input-controll svg {
    width: 24px;
  }
  #register .leftSide .input-controll .input label {
    font-size: 12px;
  }
  #register .leftSide .input-controll .input input {
    font-size: 14px;
  }
  #register .leftSide .input-controll .input > span {
    font-size: 14px;
  }
  #register .leftSide .check input {
    font-size: 14px;
    padding: 16px 143px 16px 13px;
  }
  #register .leftSide .check input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #9a9a9a;
    font-size: 14px;
    font-family: "Monserrat-Regular";
  }
  #register .leftSide .check input::-moz-placeholder {
    /* Firefox 19+ */
    color: #9a9a9a;
    font-size: 14px;
    font-family: "Monserrat-Regular";
  }
  #register .leftSide .check input:-ms-input-placeholder {
    /* IE 10+ */
    color: #9a9a9a;
    font-size: 14px;
    font-family: "Monserrat-Regular";
  }
  #register .leftSide .check input::-moz-placeholder {
    /* Firefox 18- */
    color: #9a9a9a;
    font-size: 14px;
    font-family: "Monserrat-Regular";
  }

  #register .leftSide form input[type="submit"] {
    font-size: 16px;
    margin-bottom: 18px;
    padding: 16px 56px;
  }
  #register .leftSide form > a {
    font-size: 14px;
  }
  #register .rightSide .container {
    width: 100%;
    padding: 0 0 0 25px;
  }
}

@media (min-width: 1400px) {
  #register {
    grid-template-columns: 1fr 776px 664px 1fr;
    grid-template-areas: ". leftSide rightSide";
    background-color: #ffffff;
    position: relative;
  }

  #register .leftSide > a img {
    width: 170.12px;
    height: auto;
    padding: 0;
    margin-top: 49px;
    margin-left: 108px;
    position: relative;
    left: 7px;
  }
  #register .leftSide .container {
    padding: 0;
    margin-left: 139px;

    width: auto;
  }
  #register .leftSide .input-controll {
    margin-bottom: 15px;
    padding: 8px 15px 6px 10px;
    margin-right: 194px;
    border: 2px solid transparent;
    position: relative;
  }
  #register .leftSide .input-controll .input label {
    font-size: 12px;
    letter-spacing: 0px;
  }
  #register .leftSide .input-controll > label {
    height: 100%;
    display: flex;
    align-items: center;
  }
  #register .leftSide .input-controll svg {
    width: 26px;
  }
  #register .leftSide .check {
    margin-top: 19px;
    position: relative;
    left: 4px;
    margin-bottom: 13px;
    margin-right: 194px;
  }
  #register .leftSide .check img {
    margin-top: 7px;
    margin-bottom: 8px;
  }
  #register .leftSide .check input {
    padding: 15px 9px;
    border: 2px solid #f8f8f8;
  }
  #register .leftSide form input[type="submit"] {
    font-size: 16px;
    margin-bottom: 18px;
    padding: 16px 50px;
  }
  #register .rightSide .container {
    align-items: center;
    width: 100%;
    padding: 0;
  }
  #register .rightSide img {
    margin: 123px 25px 0 19px;
    width: 629.48px;
    height: auto;
  }
  /* #login .rightSide img {
    margin: 218px auto 0 auto;
    width: 610.48px;
    height: 364.75px;
  } */
}
